@model ElevatorModel
@{
    ViewData["Title"] = "Elevator";
}

<script>
    function CallElevator(direction) {
        console.log(direction)
        var model = @Html.Raw(Json.Serialize(Model));
        console.log(model)
        console.log(direction == "asc")
        if (direction == "asc")
            model.callUp = true;
        else
            model.callUp = false;
        
        console.log(model)
        $.ajax({
            url: "Home/CallElevator",
            data: model,
            type: "POST",
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr.responseText);
            }
        }).done(function (result) {
            console.log(result)
            $("#partialDiv").html(result)
        });
        
    }


</script>

<body>
    <div id="partialDiv">
        @{
            await Html.RenderPartialAsync("ElevatorPartial.cshtml", Model);
        }
    </div>
</body>
